* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}
