@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: #fff;
}

.border {
  border: 2px solid red;
}

.flex {
  display: flex;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.img {
  filter: invert(1);
}

.bg-black {
  background-color: black;
  color: #fff;
}

.bg-grey {
  background-color: #151515;
  color: #fff;
}

.rounded {
  border-radius: 0.7rem;
}

.m-1 {
  margin: 0.5rem;
}

.p-1 {
  padding: 1.5rem;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}
